<div class="container">
  <div class="title">Peter Robitaille</div>
    <div class="fa fa-github" aria-hidden="true"></div>
    <div class="fa fa-linkedin" aria-hidden="true"></div>

  <hr class="horizontal-line"></hr>

  <div class="menu">
    <span>About</span>
    <span>Projects</span>
    <span>Contact</span>
  </div>





</div>
